@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
}

html,body{
 	font-family: 'Lato', sans-serif;
	font-size:95%;
	width:100%;
	height:100%;
}

/* unvisited link */
a:link {
    color: #FFD700;
}

/* visited link */
a:visited {
    color: #FFD700;
}

/* mouse over link */
a:hover {
    color: #CCCCFF;
}

/* selected link */
a:active {
    color: #CCCCFF;
}

.navigation {
	overflow:hidden;
	background-color:rgba(0,0,0,0.7);
	position:fixed;
	z-index:1;
	top:0px;
	width: 100%;
	height:50px;
	min-width:1100px;
	text-align: center;
}

.navigation .menu.disable {
    color:#888888;
    pointer-events:none;
}

.navigation div {
	display:inline-block;
	vertical-align:middle;	
}

.navigation .menu{
	font-family: 'Playfair Display', serif;
	color:#FFFFFF;
	padding: 15px 15px;	
	text-align:center;
	font-size:12pt;
	width:125px;
	-webkit-transition: all .2s ease-in-out;
}

.navigation .menu:hover,.active{
	color:#CCCCFF;
	cursor:pointer;
}

.navigation .logo {
	font-family: 'Tangerine', cursive;
	font-weight:700;
	padding:0 0;
	font-size:24pt;
	width:300px;
	color:#FFD700;
}

.slide {
	width:100%;
	min-width:1100px;
	height:100%;
	position: relative;
	background-size:cover;
}

.title {
	font-size:36px;
	font-family: 'Tangerine', cursive;
	color:#FFFFFF;	
	white-space: nowrap;
}

.subtitle {
	font-size:24px;
	font-family: 'Tangerine', cursive;
	color:#FFFFFF;	
}

.slideTitle{
	font-family: 'Tangerine', cursive;
	position:absolute;
	top:70px;
	left:20px;
	text-align:center;
	font-size:72px;
	color:#FFFFFF;
}

.button{
	display:block;
	width:80px;
	height:40px;
	position:absolute;
	bottom:0px;
	left:47%;
	margin:auto;
	background-repeat: no-repeat;
	background-color:rgba(89,89,89,0.3);
	background-position:center;
	background-image:url(//s3-us-west-1.amazonaws.com/jtwedding/arrow.png);
}
.button:hover{
	background-color:rgba(89,89,89,0.5);
	cursor:pointer;
}

.jtText p {
	color:#FFFFFF;
	font-size:14px;
}

/******************************
 SLIDE 1 - Home
*******************************/
#slide1 {
	background-image:url("//s3-us-west-1.amazonaws.com/jtwedding/home_background.jpg");	
}

/******************************
 SLIDE 2 - Our Story
*******************************/
#slide2 {
	background-image:url("//s3-us-west-1.amazonaws.com/jtwedding/story_background.jpg");	
}

#story1 {
	position:absolute;
	display:block;
	overflow:auto;
	bottom:10%;
	margin:0 30px;
	padding:20px;
	height:100px;
	line-height:30px;
	background-color:rgba(0,0,0,0.3);
	color:#FFFFFF;
}

/******************************
 SLIDE 3 - Our Story 2
*******************************/
#slide3 {
	background-image:url("//s3-us-west-1.amazonaws.com/jtwedding/story2_background.jpg");	
}

#story2 {
	position:absolute;
	display:block;
	overflow:auto;
	top:20%;
	left:10%;
	width:400px;
	padding:20px;
	background-color:rgba(0,0,0,0.3);
	line-height:30px;
	color:#FFFFFF;
}

#story3 {
	position:absolute;
	display:block;
	overflow:auto;
	top:20%;
	right:10%;
	padding:20px;
	width:400px;
	background-color:rgba(0,0,0,0.3);
	line-height:30px;
	color:#FFFFFF;
}

/******************************
 SLIDE 4 - Proposal
*******************************/

#slide4 {
	background-image:url("//s3-us-west-1.amazonaws.com/jtwedding/proposal_background.jpg");	
}

#proposal1 {
	position:absolute;
	display:block;
	height:300px;
	overflow:visible;
	bottom:0px;
	right:0px;
	margin:20px;
	padding:20px;
	width:400px;
	background-color:rgba(0,0,0,0.3);
	line-height:30px;
	color:#FFFFFF;
}

/******************************
 SLIDE 5 - Proposal 2
*******************************/

#slide5 {
	background-image:url("//s3-us-west-1.amazonaws.com/jtwedding/proposal2_background.jpg");	
}

#proposal2 {
	position:absolute;
	display:block;
	overflow:auto;
	top:20%;
	left:10%;
	width:400px;
	padding:20px;
	background-color:rgba(0,0,0,0.3);
	line-height:30px;
	color:#FFFFFF;
}

#proposal3 {
	position:absolute;
	display:block;
	overflow:auto;
	top:20%;
	right:10%;
	padding:20px;
	width:400px;
	background-color:rgba(0,0,0,0.3);
	line-height:30px;
	color:#FFFFFF;
}
/******************************
 SLIDE 6 - Wedding Party
*******************************/

#slide6 {
	background-image:url("//s3-us-west-1.amazonaws.com/jtwedding/weddingparty_background.jpg");	
}

.party_container {
	display:block;
	position:relative;
	top:15%;
	text-align:center;
}

.party_block {
	display:inline-block;
	width:500px;
	position:relative;
	padding: 20px;
	margin: 20px;
	vertical-align:top;
	background-color:rgba(0,0,0,0.3);
}

.party_info {
	display:table-row;
	vertical-align: middle;
	text-align:left;
	color:#FFFFFF;
	line-height:20px;
}

.party_cell_pic {
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	padding:10px;	
}

.party_cell {
	display:table-cell;
	vertical-align: middle;
	padding:10px;	
}

img.party_pic {
	width:80px;
	height:80px;
}

/******************************
 SLIDE 7 - Event Info
*******************************/

#slide7{
	background-image:url("//s3-us-west-1.amazonaws.com/jtwedding/eventinfo_background.jpg");	
}

.event_block {
	display:block;
	position:relative;
	top:25%;
	text-align:center;
}

.event_info {
	display:inline-block;
	margin: 20px;
	padding: 20px;
	background-color:rgba(0,0,0,0.3);
	vertical-align:top;
}

.event_text {
	text-align:left;
	margin: 0 0 20px 0;
	color:#FFFFFF;
	line-height:30px;
}

/***********************
 SLIDE 8 - Registry
*******************************/

#slide8{
	background-image:url("//s3-us-west-1.amazonaws.com/jtwedding/registry_background.jpg");	
}

#registry_text {
	position: absolute;
	bottom:20px;
	left:25%;
	right:25%;
	background-color:rgba(0,0,0,0.3);
	text-align:center;
	padding: 20px;
	color:#FFFFFF;
	line-height:30px;
}